.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.messageInput {
  margin: 1rem;
  width: 90%;
}

.messageInput > input {
  height: 1rem;
  padding: 1rem;
}

.messageInput > input:focus {
  outline: none;
}
