.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.messageInput > input {
  height: 1rem;
  padding: 1rem;
}

.messageInput > input:focus {
  outline: none;
}
