.message {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  padding: 1rem;
  color: black;
  background-color: aliceblue;
}

.messageListLight {
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  height: calc(100vh - 10rem);
  margin: 1rem;
  padding: 1rem;
  width: 90%;
  background-color: #ffffff;
}

.messageListDark {
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  height: calc(100vh - 10rem);
  margin: 1rem;
  padding: 1rem;
  width: 90%;
  background-color: #151a1f;
}

.messageListLight > :first-child {
  margin-top: auto;
}

.messageListDark > :first-child {
  margin-top: auto;
}

.userMessage {
  display: grid;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
}
