.messageListLight {
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  height: calc(100vh - 10rem);
  margin: 1rem;
  padding: 1.125rem;
  width: 90%;
  background-color: #ffffff;
}

.messageListDark {
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
  height: calc(100vh - 10rem);
  margin: 1rem;
  padding: 1.125rem;
  width: 90%;
  background-color: #151a1f;
}

.messageListLight > :first-child {
  margin-top: auto;
}

.messageListDark > :first-child {
  margin-top: auto;
}

.userMessage {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin: 1rem;
}

.message {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.content > p {
  margin: 0;
}

.messageText {
  font-size: 1.5rem;
}

.nameTime {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.nameTime > p {
  margin: 0;
}
