.themeSwitch > button {
  background-color: transparent;
  border:transparent;
  cursor: pointer;
  padding: 1rem;
}

.dashNav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tools {
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  flex-direction: column;
}

.user > svg {
  padding: 1rem;
}

.logo {
  display: flex;
  padding: 1rem;
}

.dashButton {
  padding: 1rem;
}