.dashButton > button {
  background-color: transparent;
  border:transparent;
  cursor: pointer;
  padding:0;
}

.dashNav {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 5rem;
  align-items: center;
}

.tools {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user > svg {
  padding: 1rem;
}

.logo {
  display: flex;
  padding: 1rem;
}

.dashButton {
  padding: 1rem;
  margin:.5rem;
  
}